<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title>User page</title>
</head>
<body>
  
 Profile: <%= name %> 

        
     <b>Age:</b> <%= info.age %> years old 

        
     <b>Occupation:</b> <%= info.occupation %> 

        
     <b>Hobby is:</b> <%= info.hobby %> 
      


</body>
</html> 
